<p id="notice"><%= notice %></p>

<p>
  <strong>Number of questions:</strong>
  <%= @test.number_of_questions %>
</p>

<p>
  <strong>Score:</strong>
  <%= @test.score %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
